[Unit]
Description=My Watertank Service (Levels and Pressures)
After=multi-user.target

[Service]
Type=idle
User=root
Group=root
ExecStart=/app/waterlevels/grun.bsh > 2>&1 > /app/waterlevels/waterservice.log

[Install]
WantedBy=multi-user.target
